.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-main {
    width: 100%;
    height: 15em;
    object-fit: cover;
    border-radius: 1.5em;
    margin: 0 0 1em 0;
    position: relative;
    background-image: url('../../assets/about-main.png');
    background-size: cover;
    background-position: 50% 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-main:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    mix-blend-mode: darken;
    opacity: 0.3;
    border-radius: 1.5em;
    z-index: 1;
}

.about-main > * {
    z-index: 100;
}